@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file (e.g., index.css) */
body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-f1-black dark:bg-slate-700;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded bg-candy-apple dark:bg-slate-600;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-f1-gray dark:bg-slate-500;
  }
}

/* Credit: https://heropatterns.com/ */
.test {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234d4d4d' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.driver_photo_bg {
  background-color: #23232b;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23999999' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.result-card {
  height: 80px;
  position: relative;
  background-color: #15151e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.winner_photo_bg {
  background-color: #15151e;
  background-image: url("src/assets/white-stripe.png");
}

.constructor_photo_bg {
  background-color: #ffffff;
  background-image: url("src/assets/plus-x1.png");}

.circuit-details-line {
  position: relative; /* Ensure the parent is positioned */
}

.circuit-details-line::after {
  content: "";
  position: absolute;
  right: calc(100% - 38.5rem);
  top: 8.5%;
  width: calc(100% - 17rem); /* or the width of the curve */
  height: calc(100% - 3.7rem); /* or the height of the curve */
  border-top: 8px solid red; /* the line */
  border-right: 8px solid red; /* the line */
  border-top-right-radius: 20px; /* adjust to match the desired curve */
  pointer-events: none; /* ensure the pseudo-element is not interactive */
}

.driver-details-line {
  position: relative; /* Ensure the parent is positioned */
}

.driver-details-line::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 35px;
  width: calc(100% - 16.5rem); /* or the width of the curve */
  height: calc(100% - 3.7rem); /* or the height of the curve */
  border-top: 8px solid red; /* the line */
  border-right: 8px solid red; /* the line */
  border-top-right-radius: 20px; /* adjust to match the desired curve */
  pointer-events: none; /* ensure the pseudo-element is not interactive */
}

.constructor-details-line {
  position: relative; /* Ensure the parent is positioned */
}

.constructor-details-line::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 35px;
  width: calc(100% - 23rem); /* or the width of the curve */
  height: calc(100% - 3.7rem); /* or the height of the curve */
  border-top: 8px solid red; /* the line */
  border-right: 8px solid red; /* the line */
  border-top-right-radius: 20px; /* adjust to match the desired curve */
  pointer-events: none; /* ensure the pseudo-element is not interactive */
}

.about-line {
  position: relative; /* Ensure the parent is positioned */
}

.about-line::before {
  content: "";
  position: absolute;
  right: 5px;
  top: calc(100% - 16.2rem);
  width: calc(100% - 1.9rem); /* or the width of the curve */
  height: calc(100% - 3.2rem); /* or the height of the curve */
  border-top: 8px solid red; /* the line */
  border-bottom: 8px solid red; /* the line */
  border-right: 8px solid red; /* the line */
  border-top-right-radius: 20px; /* adjust to match the desired curve */
  border-bottom-right-radius: 20px;
  pointer-events: none; /* ensure the pseudo-element is not interactive */
}

.favourites-line {
  position: relative; /* Ensure the parent is positioned */
}

.favourites-line::after {
  content: "";
  position: absolute;
  right: 5px;
  top: calc(100% - 27rem);
  width: calc(100% - 1.6rem); /* or the width of the curve */
  height: calc(100% - 2.6rem); /* or the height of the curve */
  border-top: 8px solid red; /* the line */
  border-bottom: 8px solid red; /* the line */
  border-right: 8px solid red; /* the line */
  border-top-right-radius: 20px; /* adjust to match the desired curve */
  border-bottom-right-radius: 20px;
  pointer-events: none; /* ensure the pseudo-element is not interactive */
}

.driver-picture-size {
  width: 590px;
  height: 590px;
}

.login-header {
  position: relative; /* Ensure the parent is positioned */
}

.login-header::after {
  content: "";
  position: absolute;
  right: 1rem; /* Keep this to ensure some space on the right */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: calc(100% - 15rem); /* Adjust width to account for logo and button */
  height: 3rem; /* The height can remain constant if it fits your design */
  border-top: 8px solid white;
  border-right: 8px solid white;
  border-top-right-radius: 20px;
  pointer-events: none; /* Ensure the pseudo-element is not interactive */
}

.season-dropdown {
  position: absolute; /* Ensure the parent is positioned */
  right: calc(100% - 7.7em);
}

button[disabled] {
  opacity: 0.5; /* Adjust the opacity to your preference */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
